body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    width:100%;

}

img {
    object-fit: cover;
}

.foliobg {
    border-style: solid;
    border-width: 1px;
    padding: 20px 20px 20px 0px;
    border-color: #eae3d3;
    margin-right: 1000px;
    width: 1700px;
}

.dis {
    margin-left: 792px;
    font-size: 100px;
    margin-top: -104px;
}

.container {
    
    justify-content: center;
    max-width: 400px;
    max-height: 400px;
    width: 400%;
    display: grid;
    grid-template:
        "a b" 400px
        "c d" 400px
        "e f" 400px
        "g h" 400px;
}

.container, .cloud {
    width: 587px;
    height: 400px;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;

}

.c p {
    font-family: Montserrat;
    font-weight: lighter;
    font-size: 18px;
    color: #000;
    text-align: left;
    margin-left: -67px;
}
.ell2 {
    margin-left: 0;
    
}

.c {
    grid-area: c;
    display: flex;
    gap: 78px;
    align-items: center;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}

.f {
    grid-area: f;
}

.f, p {
    font-family: Montserrat;
    font-weight: lighter;
    font-size: 18px;
    color: #000;
    text-align: center;
}

.g {
    grid-area: g;
}

.h {
    grid-area: h;
}

@media only screen and (max-width:800px){
    .container{
        display:grid;
        grid-template:
        "a b" 200px
        "c d" 200px
        "e f" 200px
        "g h" 200px
        
    }
    
}